# PYTHON TRAINING

### Yoselin Delgado

#### 2.1.2. Interactive Mode

In [ ]:
the_world_is_flat = True
if the_world_is_flat:
     print("Be careful not to fall off!")

#### Ecoding

In [ ]:
#!/usr/bin/env python3
# -*- coding: cp1252 -*-

#### An Informal Introduction to Python

In [ ]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

###### 3.1. Using Python as a Calculator

In [13]:
#Calculator
2 + 2

4

In [14]:
50 - 5*6

20

In [15]:
(50 - 5*6) / 4

5.0

In [16]:
8 / 5  # division always returns a floating point number

1.6

In [17]:
17 / 3  # classic division returns a float

5.666666666666667

In [18]:
17 // 3  # floor division discards the fractional part

5

In [19]:
 17 % 3  # the % operator returns the remainder of the division

2

In [20]:
 5 * 3 + 2  # result * divisor + remainder

17

In [21]:
 5 ** 2  # 5 squared

25

In [23]:
 2 ** 7  # 2 to the power of 7

128

In [24]:
width = 20
height = 5 * 9
width * height

900

In [25]:
n

NameError: name 'n' is not defined

In [26]:
4 * 3.75 - 1

14.0

In [28]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [36]:
 price + _

615.56

In [34]:
round(_, 2)

414.56

In [39]:
'spam eggs'  # single quotes

'spam eggs'

In [40]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [41]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [43]:
"doesn't"

"doesn't"

In [44]:
'"Yes," they said.'

'"Yes," they said.'

In [45]:
'"Yes," they said.'

'"Yes," they said.'

In [46]:
"\"Yes,\" they said."

'"Yes," they said.'

In [47]:
'"Yes," they said.'

'"Yes," they said.'

In [48]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [49]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [51]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [52]:
s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), \n is included in the output
'First line.\nSecond line.'
print(s)  # with print(), \n produces a new line

First line.
Second line.

In [55]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [56]:
 print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [57]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [58]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [59]:
'Py' 'thon'

'Python'

In [64]:
text = ('Put several strings within parentheses ''to have them joined together.')

In [65]:
text

'Put several strings within parentheses to have them joined together.'

In [70]:
prefix = 'Py'
prefix 'thon'  # can't concatenate a variable and a string literal

SyntaxError: invalid syntax (<ipython-input-70-20527b549823>, line 2)

In [74]:
prefix = 'Py'
prefix + 'thon'

'Python'

In [5]:
word = 'Python'
word[5]  # character in position 5

'n'

In [6]:
word[0]  # character in position 0

'P'

In [7]:
word[-1]  # last character

'n'

In [8]:
word[-2]  # second-last character

'o'

In [9]:
word[-6]

'P'

In [10]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [11]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [12]:
word[:2] + word[2:]

'Python'

In [13]:
word[:4] + word[4:]

'Python'

In [14]:
word[:2]   # character from the beginning to position 2 (excluded)

word[4:]   # characters from position 4 (included) to the end

word[-2:]  # characters from the second-last (included

'on'

In [15]:
word[42]

IndexError: string index out of range

In [17]:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [18]:
'J' + word[1:]

'Jython'

In [90]:
word[:2] + 'py'

'Pypy'

In [19]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

###### 3.1.3. Lists

In [92]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [93]:
squares[0]  # indexing returns the item

1

In [94]:
squares[-1]

25

In [95]:

squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [96]:
squares[:]

[1, 4, 9, 16, 25]

In [97]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [98]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

64

In [99]:
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [100]:
cubes.append(216)  # add the cube of 6

In [103]:
cubes.append(7 ** 3)  # and the cube of 7

In [104]:
cubes

[1, 8, 27, 64, 125, 216, 343, 343, 343]

In [105]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [106]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [107]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [109]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [110]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [111]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [112]:
x[0]

['a', 'b', 'c']

In [113]:
x[0][1]

'b'

In [114]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [115]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [116]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

###### 4.1. if Statements

In [22]:
x = int(input("Please enter an integer: "))

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: 1
Single

In [23]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [30]:
# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

NameError: name 'users' is not defined

In [32]:
# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

NameError: name 'users' is not defined

In [33]:
for i in range(5):
 print(i)

0
1
2
3
4

In [34]:
for i in range(5,10):
 print(i)

5
6
7
8
9

In [139]:
for i in range (0, 10, 3):
 print(i)

0
3
6
9

In [140]:
for i in range (-10, -100, -30):
 print(i)

-10
-40
-70

In [141]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [142]:
print(range(10))

range(0, 10)

In [143]:
sum(range(4))  # 0 + 1 + 2 + 3

6

In [1]:
list(range(4))

[0, 1, 2, 3]

In [2]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [3]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [ ]:
while True:
    pass  # Busy-wait for keyboard interrupt (Ctrl+C

In [ ]:
class MyEmptyClass:
    pass

In [ ]:
def initlog(*args):
    pass   # Remember to implement this!

In [1]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

# Now call the function we just defined:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [2]:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [3]:
fib

f = fib
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [4]:
fib(0)
print(fib(0))

None

In [5]:
def fib2(n):  # return Fibonacci series up to n
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)    # see below
        a, b = b, a+b
    return result

f100 = fib2(100)    # call it
f100                # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [7]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [8]:
i = 5

def f(arg=i):
    print(arg)

i = 6
f()

5

In [9]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [13]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

###### 4.7.2. Keyword Arguments

In [14]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [15]:
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [16]:
parrot()                     # required argument missing
parrot(voltage=5.0, 'dead')  # non-keyword argument after a keyword argument
parrot(110, voltage=220)     # duplicate value for the same argument
parrot(actor='John Cleese')  # unknown keyword argument

SyntaxError: positional argument follows keyword argument (<ipython-input-16-2ac707ad11c1>, line 2)

In [17]:
def function(a):
    pass

function(0, a=0)

TypeError: function() got multiple values for argument 'a'

In [18]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [19]:
cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

###### 4.7.3. Special parameters

In [20]:
def f(pos1, pos2, /, pos_or_kwd, *, kwd1, kwd2):
      -----------    ----------     ----------
        |             |                  |
        |        Positional or keyword   |
        |                                - Keyword only
         -- Positional only

SyntaxError: invalid syntax (<ipython-input-20-0bc20c92ed7c>, line 1)

In [26]:
def standard_arg(arg):
    print(arg)

In [38]:
def standard_arg(arg):
    print(arg)

def pos_only_arg(arg, /):
    print(arg)

def kwd_only_arg(*, arg):
    print(arg)

def combined_example(pos_only, /, standard, *, kwd_only):
    print(pos_only, standard, kwd_only)

SyntaxError: invalid syntax (<ipython-input-38-78058b0a5564>, line 4)

In [39]:
def kwd_only_arg(*, arg):
    print(arg)

In [40]:
def combined_example(pos_only, /, standard, *, kwd_only):

SyntaxError: invalid syntax (<ipython-input-40-7bbfc76c0446>, line 1)

In [41]:
    print(pos_only, standard, kwd_only)

NameError: name 'pos_only' is not defined

###### 4.7.3.4. Function Examples

In [51]:
def standard_arg(arg):
    print(arg)

In [52]:
standard_arg(arg=2)

2

In [53]:
standard_arg(arg=2)

2

In [63]:
def pos_only_arg(arg, /):
    print(arg)

SyntaxError: invalid syntax (<ipython-input-63-dac7287a6fee>, line 1)

In [55]:
def kwd_only_arg(*, arg):
    print(arg)

In [56]:
def combined_example(pos_only, /, standard, *, kwd_only):
    print(pos_only, standard, kwd_only)

SyntaxError: invalid syntax (<ipython-input-56-e71a7fd473ab>, line 1)

In [57]:
pos_only_arg(1)

NameError: name 'pos_only_arg' is not defined

In [58]:
pos_only_arg(arg=1)

NameError: name 'pos_only_arg' is not defined

In [60]:
kwd_only_arg(3)

TypeError: kwd_only_arg() takes 0 positional arguments but 1 was given

In [61]:
kwd_only_arg(arg=3)

3

In [62]:
combined_example(1, 2, 3)

NameError: name 'combined_example' is not defined

need to upgrade to python 3.8 to be able to run those commands based on:
https://stackoverflow.com/questions/58635790/positional-and-keyword-markers-syntax-error

In [64]:
def foo(name, **kwds):
    return 'name' in kwds

In [65]:
foo(1, **{'name': 2})

TypeError: foo() got multiple values for argument 'name'

In [66]:
def foo(name, /, **kwds):
    return 'name' in kwds
foo(1, **{'name': 2})

SyntaxError: invalid syntax (<ipython-input-66-5ef822879a3b>, line 1)

###### 4.7.3.5. Recap

In [67]:
def f(pos1, pos2, /, pos_or_kwd, *, kwd1, kwd2):

SyntaxError: invalid syntax (<ipython-input-67-d398be9f5c1a>, line 1)

In [68]:
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

In [69]:
def concat(*args, sep="/"):
    return sep.join(args)

concat("earth", "mars", "venus")

concat("earth", "mars", "venus", sep=".")

'earth.mars.venus'

###### 4.7.5. Unpacking Argument Lists

In [70]:
list(range(3, 6))            # normal call with separate arguments

args = [3, 6]
list(range(*args))            # call with arguments unpacked from a list

[3, 4, 5]

In [71]:
def parrot(voltage, state='a stiff', action='voom'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.", end=' ')
    print("E's", state, "!")

d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [72]:
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(42)
f(0)

f(1)

43

In [73]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [74]:
def my_function():
    """Do nothing, but document it.

    No, really, it doesn't do anything.
    """
    pass

print(my_function.__doc__)

Do nothing, but document it.

    No, really, it doesn't do anything.

In [75]:
def f(ham: str, eggs: str = 'eggs') -> str:
    print("Annotations:", f.__annotations__)
    print("Arguments:", ham, eggs)
    return ham + ' and ' + eggs

f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

###### 5. Data Structures

In [78]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

fruits.count('tangerine')

fruits.index('banana')

fruits.index('banana', 4)  # Find next banana starting a position 4

fruits.reverse()
fruits

fruits.append('grape')
fruits

fruits.sort()
fruits

fruits.pop()

'pear'

In [79]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

stack.pop()

stack

stack.pop()

stack.pop()

stack

[3, 4]

In [80]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

queue.popleft()                 # The second to arrive now leaves

queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

In [81]:
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [84]:
squares = list(map(lambda x: x**2, range(10)))

In [85]:
squares = [x**2 for x in range(10)]

In [86]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [87]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [88]:
vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
[x*2 for x in vec]

# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

# apply a function to all the elements
[abs(x) for x in vec]

# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

# the tuple must be parenthesized, otherwise an error is raised
[x, x**2 for x in range(6)]




# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

SyntaxError: invalid syntax (<ipython-input-88-3a4b2e8f443d>, line 19)

In [89]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [91]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [92]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [93]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [94]:
transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [95]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [96]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

del a[2:4]
a

del a[:]
a

[]

In [97]:
del a

In [98]:
t = 12345, 54321, 'hello!'
t[0]

t

# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

# Tuples are immutable:
t[0] = 88888


# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

TypeError: 'tuple' object does not support item assignment

In [99]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
len(empty)

len(singleton)

singleton

('hello',)

In [100]:
x, y, z = t

In [101]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

'orange' in basket                 # fast membership testing

'crabgrass' in basket


# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a

a - b                              # letters in a but not in b

a | b                              # letters in a or b or both

a & b                              # letters in both a and b

a ^ b                              # letters in a or b but not both

{'apple', 'pear', 'banana', 'orange'}

{'b', 'd', 'l', 'm', 'r', 'z'}

In [102]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

###### 5.5. Dictionaries

In [103]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

tel['jack']

del tel['sape']
tel['irv'] = 4127
tel

list(tel)

sorted(tel)

'guido' in tel

'jack' not in tel

False

In [105]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [106]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [107]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

###### 5.6. Looping Techniques

In [108]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [109]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [110]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [111]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [112]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [113]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

###### 5.7. More on Conditions

In [114]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

###### 5.8. Comparing Sequences and Other Types

In [117]:
(1, 2, 3)              < (1, 2, 4)
[1, 2, 3]              < [1, 2, 4]
'ABC' < 'C' < 'Pascal' < 'Python'
(1, 2, 3, 4)           < (1, 2, 4)
(1, 2)                 < (1, 2, -1)
(1, 2, 3)             == (1.0, 2.0, 3.0)
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True